<html lang="ru">
<head>
    <title>Авторизация</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="authorization.less" />
<body>
<div class="authorization-container">
    <div class="authorization-wrapper">
        <div>
            <h2 class="auth-header">Вход</h2>
            <form>
                <div class="auth-form">
                    <label class="auth-form-label">Логин</label>
                    <input class="auth-form-input" type="text" name="login">
                    <label class="auth-form-label">Пароль</label>
                    <input class="auth-form-input" type="password" name="password">
                </div>
            </form>
        </div>
            <div class="auth-button">
                <input class='form-button' type="submit" value="Вход">
                <a class='form-button' href="../registration/registration.hbs">Зарегистрироваться</a>
            </div>
    </div>
</div>
</body>
</html>