<html lang="ru">
<head>
    <title>Профиль</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="profile.less" />
</head>
<body>
<div class="profile-container">
    <div class="profile-wrapper">
        <h2 class="profile-header">Алексей</h2>
        <div class='avatar'>
            <input type="image" name="avatar" height="100px" width="100px" src="../../../static/chat-logo.png">
        </div>
        <form>
            <div class="profile-form">
                {{> profileinput}}
            </div>
            <a class="profile-form-link" href="../password/password.hbs">Сменить пароль</a>
        </form>
        <div class="profile-button">
            <input class='form-button' type="submit" value="Сменить пароль">
            <input class='form-button' type="submit" value="Войти">
        </div>
    </div>
</div>
</body>
</html>