<html lang="ru">
<head>
    <title>500</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="500.less" />
</head>
<body>
<div class="error-container">
    <h1>5**</h1>
    <h3>Мы уже фиксим</h3>
    <a href="../chatlist/chatlist.hbs">Назад к чатам</a>
</div>
</body>
</html>