<html>
<head>
    <link rel="stylesheet" type="text/css" href="./chatlist.less">
</head>
<body>
<div class="page-container">
    <div class="block-left">
        <div class="settings-block">
            <div class="settings-block_profile">
                <a class="settings-block_profile-link" href="../../pages/profile/profile.hbs">Профиль</a>
            </div>

            <div class="settings-block_search">
                <input type="search" placeholder="Поиск" class="settings-block_search-input">
            </div>
        </div>
        <div class="chatlist">
            {{> chats}}
        </div>
    </div>

    <div class="block-right">
        <div class="profile-info">
            <div class="profile-info_logo">
                <img src="../../../static/chat-logo.png" height="34px" width="34px" alt="chat-logo">
            </div>
            <div class="profile-info_chatname">
                Алексей
            </div>
        </div>

        <div class="messagelist">
            {{#each chatList.messagelist}}
                {{#if isMyMessage}}
                    <div class="messagelist_right">
                        {{messageText}}
                    </div>
                {{else}}
                    <div class="messagelist_left">
                        {{messageText}}
                    </div>
                {{/if}}


            {{/each}}
        </div>

        <form class="send-message-block">
            <input type="text" name="message" placeholder="Сообщение" class="send-message-block_input-addmessage">
            <input type="button" value="Отправить" class="send-message-block_button-addmessage">
        </form>
    </div>
</div>
</body>
</html>