<html lang="ru">
<head>
    <title>Регистрация</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="registration.less" />
</head>
<body>
<div class="registration-container">
    <div class="registration-wrapper">
        <h2 class="reg-header">Регистрация</h2>
        <form>
            <div class="reg-form">
                <label class="reg-form-label">Почта</label>
                <input class="reg-form-input" type="email" name="email">
                <label class="reg-form-label">Логин</label>
                <input class="reg-form-input" type="text" name="login">
                <label class="reg-form-label">Имя</label>
                <input class="reg-form-input" type="text" name="first_name">
                <label class="reg-form-label">Фамилия</label>
                <input class="reg-form-input" type="text" name="second_name">
                <label class="reg-form-label">Телефон</label>
                <input class="reg-form-input" type="tel" name="phone">
                <label class="reg-form-label">Пароль</label>
                <input class="reg-form-input" type="password" name="password">
            </div>
        </form>
        <div class="reg-button">
            <input class='form-button' type="submit" value="Зарегистрироваться">
            <input class='form-button' type="submit" value="Войти">
        </div>
    </div>
</div>
</body>
</html>