<html lang="ru">
<head>
    <title>Регистрация</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="registration.less" />
</head>
<body>
<div class="registration-container">
    <div class="registration-wrapper">
        <h2 class="reg-header">Регистрация</h2>
        <form>
            <div class="reg-form">
                {{> registrationinput}}
            </div>
        </form>
        <div class="reg-button">
            <input class='form-button' type="submit" value="Зарегистрироваться">
            <input class='form-button' type="submit" value="Войти">
        </div>
    </div>
</div>
</body>
</html>