<label class="auth-form-label">Логин</label>
<input class="auth-form-input" type="text" name="login">
<label class="auth-form-label">Пароль</label>
<input class="auth-form-input" type="password" name="password">