<label class="password-form-label">Старый пароль</label>
<input class="password-form-input" name='oldPassword' type="password">
<label class="password-form-label">Новый пароль</label>
<input class="password-form-input" name='newPassword' type="password">