<html lang="ru">
<head>
    <title>404</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="404.less" />
</head>
<body>
<div class="wrongway-container">
    <h1>404</h1>
    <h3>Не туда попали</h3>
    <a href="../chatlist/chatlist.hbs">Назад к чатам</a>
</div>
</body>
</html>