<html lang="ru">
<head>
    <title>Смена пароля</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="password.less" />
<body>
<div class="password-container">
    <div class="password-wrapper">
        <div>
            <h2 class="password-header">Смена пароля</h2>
            <form>
                <div class="password-form">
                    {{> changepassinput}}
                </div>
            </form>
        </div>
            <div class="password-button">
                <input class='form-button' type="submit" value="Сохранить">
            </div>
    </div>
</div>
</body>
</html>