body {
  margin: 0;
  padding: 0;
}

.pagecontainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: hidden;
  background: #f8f8f8;
}

.menu {
  display: flex;
  background: #ffffff;
  align-items: center;
  justify-content: space-around;
  min-width: 820px;

  a {
    margin: 30px 30px;
    font-size: 18px;
    text-decoration: none;
    color: #1f1f1f;
    border-bottom: 1px solid transparent;
  }
}
